<?xml version="1.0" encoding="ISO-8859-1" ?>
<service name="Sample" version="1.0">
  <description>Service de solveur</description>
  <options>
    <simple name="max-iter" type="integer" default="1000">
      <description>Maximal number of iterations</description>
    </simple>
    
    <simple name="tol" type="real" default="1e-6">
      <description>Expected accuracy</description>
    </simple>
    
    <enumeration name="solver" type="SampleOptionTypes::eSolver" default="BCGS">
      <description>Solveur type</description>
      <enumvalue name="GMRES" genvalue="SampleOptionTypes::GMRES">
        <description>GMRES Solver</description>
      </enumvalue>
      <enumvalue name="BCGS" genvalue="SampleOptionTypes::BCGS">
        <description>BiCGStab Solver</description>
      </enumvalue>
      <enumvalue name="CG" genvalue="SampleOptionTypes::CG">
        <description>Conjugate gradient solver</description>
      </enumvalue>
      <enumvalue name="QR" genvalue="SampleOptionTypes::QR">
        <description>QR Solver</description>
      </enumvalue>
      <enumvalue name="LU" genvalue="SampleOptionTypes::LU">
        <description>QR Solver</description>
      </enumvalue>
    </enumeration>
    
    <enumeration name="preconditioner" type="SampleOptionTypes::ePreconditioner" default="ILU0">
      <description>type def preconditionnement</description>
      <enumvalue name="None" genvalue="SampleOptionTypes::NonePC">
        <description>Id preconditioner</description>
      </enumvalue>
      <enumvalue name="Diag" genvalue="SampleOptionTypes::DiagPC">
        <description>Diagonal preconditioner</description>
      </enumvalue>
      <enumvalue name="ILU0" genvalue="SampleOptionTypes::ILU0PC">
        <description>0th order ILU preconditioner</description>
      </enumvalue>
      <enumvalue name="Chebyshev" genvalue="SampleOptionTypes::ChebyshevPC">
        <description>SSOR preconditioner</description>
      </enumvalue>
    </enumeration>
    
    
    <enumeration name="stop-criteria" type="SampleOptionTypes::eStopCriteria" default="RB">
      <description>Definition of the solver stop criteria</description>
      <enumvalue name="R" genvalue="SampleOptionTypes::R">
        <description>residula "R"</description>
      </enumvalue>
      <enumvalue name="RB" genvalue="SampleOptionTypes::RB">
        <description>residula "R"/"B"</description>
      </enumvalue>
      <enumvalue name="RR0" genvalue="SampleOptionTypes::RR0">
        <description>residula "R"/"r0"</description>
      </enumvalue>
      <enumvalue name="R2" genvalue="SampleOptionTypes::R2">
        <description>residula "R2"</description>
      </enumvalue>
      <enumvalue name="RB2" genvalue="SampleOptionTypes::RB2">
        <description>residula "R2"/"B2"</description>
      </enumvalue>
      <enumvalue name="RR02" genvalue="SampleOptionTypes::RR02">
        <description>residula "R2"/"R02"</description>
      </enumvalue>
    </enumeration>
    
    <simple name="verbose" type="bool" default="false">
      <description>Verbosity flag</description>
    </simple>
    
    <simple name="output-level" type="integer" default="0">
      <description>Output level</description>
    </simple>
    
    <simple name="poly-order" type="integer" default="3">
      <description>Polynome degree</description>
    </simple>
    
    <simple name="poly-factor" type="real" default="0.5">
      <description>Polynome degree</description>
    </simple>

    <simple name="poly-factor-iter" type="integer" default="10">
      <description>Number of iteration to compute the Polynome preconditioner factor</description>
    </simple>


    <complex name="complex-opt">
      <description>Complex option niv1</description>
      <simple name="sopt" type="integer">
        <description>Simple integer option</description>
      </simple>
      <enumeration name="eopt" type="SampleOptionTypes::eOpt" default="EOPT0">
        <description>Simple integer option</description>
        <enumvalue name="EOpt0" genvalue="SampleOptionTypes::EOpt0">
          <description>EOpt0</description>
        </enumvalue>
        <enumvalue name="EOpt1" genvalue="SampleOptionTypes::EOpt1">
          <description>EOpt1</description>
        </enumvalue>
      </enumeration>
    </complex>
    
  </options>
</service>
